
<ng-template #form_modal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Add</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
	</div>
	<div class="modal-body">
		<form [formGroup]="mainFormGroup">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <app-string-input formControlName="name" inputTitle="Name" />
            <app-textarea-input formControlName="description" inputTitle="Description" />
            <app-number-input formControlName="price" inputTitle="Price"/>
            <app-string-input formControlName="category" inputTitle="Category" />
            <app-string-input formControlName="brand" inputTitle="Brand" />
          </div>
          <div class="col-md">
            <app-checkbox formControlName="in_stock" inputTitle="In Stock" />
            <app-number-input formControlName="discount" inputTitle="Discount" />
            <app-number-input formControlName="quantity_in_stock" inputTitle="Quantity" />
            <app-string-input formControlName="charged_person_email" inputTitle="Charged Person Email" />
            <app-string-input formControlName="charged_person_phone" inputTitle="Charged Person Phone" />
          </div>
        </div>
      </div>
		</form>
	</div>
	<div class="modal-footer">
    <!--<button type="button" class="btn btn-outline-secondary" (click)="log()">Log</button> -->
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('button click')">Close</button>
		<button type="button" class="btn" [class.btn-outline-success]="mainFormGroup.invalid" [class.btn-success]="mainFormGroup.valid" (click)="save()">Save</button>
	</div>
</ng-template>
