<table class="table table-sm">
  <thead class="thead-light tab-header">
    <tr>
      <th scope="col" style="width: 2%;"></th>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Brand</th>
      <th scope="col">In Stock</th>
      <th scope="col">Discount</th>
      <th scope="col">Quantity</th>
      <th scope="col">Email of charged Person</th>
      <th scope="col">Phone of charder Person</th>
    </tr>
  </thead>
  <tbody class="tab-body">
    @for (item of (goodsList$ | async); track item.id) {
      @defer (on viewport; prefetch on idle) {
        <tr>
          <th scope="row">
            <div class="dropdown">
              <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="edit(item)">Edit</a>
                <a class="dropdown-item" (click)="remove(item)">Delete</a>
              </div>
            </div>
          </th>
          <th scope="row">{{item.id}}</th>
          <th scope="row">{{item.name}}</th>
          <th scope="row">{{item.description}}</th>
          <th scope="row">{{item.price}}</th>
          <th scope="row">{{item.category}}</th>
          <th scope="row">{{item.brand}}</th>
          <th scope="row">{{item.in_stock}}</th>
          <th scope="row">{{item.discount}}</th>
          <th scope="row">{{item.quantity_in_stock}}</th>
          <th scope="row">{{item.charged_person_email}}</th>
          <th scope="row">{{item.charged_person_phone}}</th>
        </tr>
      }
      @placeholder {
        <tr>
          <th scope="row">Loading...</th>
        </tr>
      }
    }
  </tbody>
</table>
